
<section class="mt-32 mb-32">

    <div class="container mx-auto lg:px-40 md:px-20 sm:px-8">
        <h1 class="text-3xl mb-20">
            Ajouter une citation
        </h1>
        <form class="sm:w-auto md:w-auto lg:w-1/2 mx-auto" (ngSubmit)="onSubmit()">
            <div class="mb-5">
                <label for="citation" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Text de la citation</label>
                <textarea id="citation" [(ngModel)]="this.content" name="content" rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Ajouter la citation..."></textarea>
            </div>
            <div class="mb-5">
              <label for="auteur" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Auteur de la citation</label>
              <input type="text" id="author" [(ngModel)]="this.auteur" name="auteur" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required />
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Ajouter la citation</button>
        </form>
    </div>

</section>


